<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Población</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of country; let i=index">
      <td>{{i}}</td>
      <td class="">
        <img src={{item.flags.svg}} alt={{item.flag}} class="small-flag rounded">
      </td>
      <td>{{item.name.common}} , {{item.capital}}</td>
      <td>{{item.population | number}}</td>
      <td><a [routerLink]="['/pais',item.cca2]">ver...</a></td>
    </tr>

  </tbody>
</table>
